
@font-face {
  font-family: 'FraktionBol';
  src: url('@/assets/fonts/PPFraktionMono-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fraktion';
  src: url('@/assets/fonts/PPFraktionMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: 'Fraktion';
  src: url('@/assets/fonts/PPFraktionMono-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fraktion';
  src: url('@/assets/fonts/PPFraktionMono-RegularItalic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

html {
  height: 100%;
  display: flex;
}

body {
  background-color: #171717;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'MiFuente', monospace;
  font-size:larger;
}

#app {

 width: 100%;

}

/* Noise layer */
body::before {
  content: '';
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  z-index: 1;
  background-image: 
    repeating-radial-gradient(circle, rgba(153, 22, 22, 0.877) 0, transparent 10px),
    repeating-radial-gradient(circle, rgba(252, 22, 22, 0.87) 0, transparent 1px);
  background-size: 200px 200px, 100px 100px;
  opacity: 0.1;
  mix-blend-mode: overlay;
}
